body{
    font-family: "Work Sans" , sans-serif;
    background-color: #f6f6f6;
}

/* Media Queries */
@media (max-width: 576px) { 
    .container{
        margin: auto;
        width:calc(100%-20px);
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 576px) { 
.container{
    margin: auto;
    width: 540px;
    padding-left: 15px;
    padding-right: 15px;
    }
}

@media (min-width: 768px) { 
.container{
    margin: auto;
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    }
}

@media (min-width: 992px) { 
    .container{
        margin: auto;
        width: 960px;
        padding-left: 15px;
        padding-right: 15px;
        }
}

@media (min-width: 1200px) { 
.container{
    margin: auto;
    width: 1040px;
    padding-left: 15px;
    padding-right: 15px;
    }
}

@media (min-width: 1400px) { 
.container{
    margin: auto;
    width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    }
}
.head{
    background-color: #f6f6f6;
    height: 40px;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 70px;
}
.header i{
    font-size: 25px;
}

.text{
    background-image: url(/Images/mountain.jpg);
    background-size:cover;
    height: calc(100vh - 40px);
    position: relative;
    
}

.text h5{
    margin-top: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #10cab7;
    font-size: 45px;
}
.text p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 19px;
    width: 600px;
    margin-top: 50px;
}

.services{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
}
.services .fsec{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.services .fsec i{
    color: #10cab7;
    font-size: 50px;
}

.services .fsec h3{
    padding: 20px;
}

.services .fsec .desc{
    opacity: 0.8;
    line-height: 1.8;
}

.endofser{
    position: relative;
    margin-bottom: 100px;
}

.endofser h5{
    opacity: 0.1;
    margin: 0px;
    text-align: center;
    font-size: 100px;
}

.endofser p{
    text-align: center;
    margin-top: -30px;
    opacity: 0.8;
}

.portfolio{
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
}

.portfolio i{
    color: #10cab7;
    font-size: 30px;
    margin-top: 0;
}

.portfolio .frow p{
    line-height: 1.8;
}

.portfolio .frow {
    display: flex;
    margin-bottom: 30px;
}

.portfolio .frow .texts{
    margin-left: 20px;
}

.portfolio .frow .texts h3{
    margin: 0;
}

.gcol img{
    width: 260px;
    opacity: 0.9;
}

.gcol{
    position: relative;
}

.gcol .line{
    background-color: #2c4755;
    position: absolute;
    height: 500px;
    width: 100px;
    right: 0;
    top: 0;
    margin-top: -16%;
    z-index: -1;
    opacity: 0.9;
}

.portcards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-bottom: 60px;
}

.portcards .card{
    background-color: white;
    width: 330px;
}

.portcards img{
    width: 330px;
    height: 300px;
}

.portcards .cardtext{
    padding: 10px;
}

.portcards .cardtext h3{
    margin: 0;
    font-size: 16px;
}

.portcards .cardtext p{
    width: 200px;
    font-size: 13px;
    line-height: 1.6;
}

.about{
    background-color: white;
    height: 500px;
}

.aboutsection{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-gap: 30px;
}

.aboutsection .fhalf{

}

.aboutsection .shalf{

}

.aboutsection .sechalf .line{
    background-color: #10cab7;
    height: 2px;
    width: 200px;
}

.aboutsection .sechalf h3{
    font-size: 15px;
    line-height: 1.8;
}

.aboutsection .sechalf p{
    font-size: 13px;
    line-height: 1.8;
}

.margintop{
    margin-top: 60px;
}

.contacttext{
    margin-bottom: 100px;
}

.contacttext h5{
    font-size: 37px;
    color: #2c4755;
    margin-bottom: 0;
}

.contacttext h3{
    font-size: 24   px;
    color: #10cab7;
}

.contacttext p{
    font-size: 12px;
    color:  #2c4755;

}

.footer{
    background-color: #2c4755;
    height: 60px;
}

.footer div{
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 16px;
    color: white;
}

.footer div span{
    color: #10cab7;
}